{% extends "layouts/error.html.twig" %}

{% block page_title %}Error 404: Page not found{% endblock %}

{% block page_description %}We can't seem to find what you're looking for.{% endblock %}

{% block headline %}<h2 class="headline text-yellow">400</h2>{% endblock %}

{% block heading %}<i class="fa fa-warning text-yellow"></i> Error 400: Bad Request{% endblock %}
